
#container {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
}

.item--container {
}

.item--name,
.item--ID,
.item--parentID {
  float: left;
  margin: 2px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 10px;
}

.level--0 {
  width: 200px;
  background-color: #f1f1f1;
}

.level--1 {
  width: 200px;
  background-color: skyblue;
}

.item--container--child {
  padding-left: 25px;
}
