* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  background-color: #f9f9f9;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.grid-header { grid-area: header; }
.grid-announce { grid-area: announce; }
.grid-main { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'announce'
    'main';
}
/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

.grid-header {
  background-color: #e8e9eb;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #b36a5e;
}
.error {
  padding: 10px;
  margin: 5px;
  background-color: #c33149;
  font-weight: italic;
  font-size: 16px;
}

.grid-main {
  padding: 20px;
}

.header-left {
  float: left;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #b36a5e;
}
.header-right {
  float: left;
  padding: 8px;
}





.container {
  max-width: 800px;
}

.folder--container {
  float: left;
  width: 100%;
}

.folder--row {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
  .folder--row-left {
    float: left;
  }
    .folder--depthVisual_1 {
      float: left;
      width: 5px;
      height: 30px;
    }
    .folder--depthVisual_2 {
      float: left;
      padding: 8px;
    }
    .folder--show-hide-toggle {
      float: left;
      padding: 7px;
      padding-bottom: 0px;
    }
    .folder--name {
      float: left;
      padding: 6px;
    }

  .folder--row-right {
    float: right;
  }

.folder--children {
  float: left;
  width: 100%;
  margin-left: 2px;
  padding-left: 13px;
  border-left-style: dotted;
  border-left-width: 1px;
}

.folder--info {
  float: right;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  border-radius: 5px;
  font-size: 10px;
}
  .info1 {
    background-color: #c33149;
  }
  .info2 {
    background-color: #a8c256;
  }
  .info3 {
    background-color: #559cad;
  }
  .info4 {
    background-color: #8c5e83;
  }

  .depth1 { background-color: #12abd5; }
  .depth2 { background-color: #239dda; }
  .depth3 { background-color: #3889e0; }
  .depth4 { background-color: #5075e7; }
  .depth5 { background-color: #6b5cef; }
  .depth6 { background-color: #8547f7; }
  .depth7 { background-color: #9b32fe; }
  .depth8 { background-color: #9b32fe; }
  .depth9 { background-color: #9b32fe; }
  .depth10 { background-color: #9b32fe; }
  .depth11 { background-color: #9b32fe; }
  .depth12 { background-color: #9b32fe; }

  .depth1b { border-color: #12abd5; }
  .depth2b { border-color: #239dda; }
  .depth3b { border-color: #3889e0; }
  .depth4b { border-color: #5075e7; }
  .depth5b { border-color: #6b5cef; }
  .depth6b { border-color: #8547f7; }
  .depth7b { border-color: #9b32fe; }
  .depth8b { border-color: #9b32fe; }
  .depth9b { border-color: #9b32fe; }
  .depth10b { border-color: #9b32fe; }
  .depth11b { border-color: #9b32fe; }
  .depth12b { border-color: #9b32fe; }

.infinity {
   position: relative;
   width: 10px;
   height: 10px;
   box-sizing: content-box;
  }
.infinity:before, .infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px 12px 12px 12px;
    transform: rotate(135deg);
  }

.overlay--container {
  margin: 200px auto;
  width: 580px;
  /* height: 400px; */
  /* background-color: #efefef;
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px 40px 40px 0; */
}

.overlay--path-container {
  float: left;
  width: 100%;
  padding: 25px;
  /* background-color: #f1f1f1; */
}

.overlay--actions-container {
float: left;
width: 100%;
}
  .overlay--folder-container {
    float: left;
    padding: 10px;
    margin: 10px;
    width: 248px;
    height: 300px;
    background-color: white;
    border: 2px solid #444444;
    box-shadow: 0px 0px 3px 3px #12abd5;
  }

  .overlay--file-container {
    float: left;
    padding: 10px;
    margin: 10px;
    width: 248px;
    height: 300px;
    background-color: white;
    border: 2px solid #444444;
    box-shadow: 0px 0px 3px 3px #6b5cef;
  }






#add--item {
  left: 10px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.form-style-1 {

    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
